#coffee_container{
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mug_text{
    width: 670px;
    background-color:rgb(152, 23, 23);
    border-radius: 15px;
    padding-left: 35px;
    padding-top: 10px;
    height: 610px;
}
#title_mug{
    font-weight: bolder;
    font-size: 60px;
    color: white;
    
    
}
#subtitle_mug{
    font-weight: lighter;
    font-size: 25px;
    color: white;
}
.coleções{
    font-weight: bold;
}
.mug img{ 

    width: 645px;
    margin-bottom: 5px;
}

