 
 @media (min-width:300px) and (max-width: 900px)  {
    #header{
       
        width: 77em;
        box-shadow: none;
    }
    #logo img{
        width: 300px;
    }
    #btn-contact{
        width: 310px;
        height: 100px;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        }
    #title{
        width: 150vh;
        height: 500px;
        font-weight: bold;
    }
    .title_banner{
        font-size: 90px;
    }
    .subtitle_banner{
        font-size: 50px;
    }
    #main{
        grid-template-columns:  1fr;
        box-shadow: none;
        width: 80em;
        
    }
    #banner img{
        margin-top: 300px;
        width: 700px;
        
    }
    #container{
        grid-template-columns: 1fr;
        width: 600px;
        
    }
    #notebook{
        height: 170vh;
        width: 77em;
        padding-left: 20px;
       margin-top: 30px;
       padding-top: 50px;


    }
    #title_notebook{
       
        font-size: 90px;
    }
    #subtitle_notebook{
        font-size: 57px;
    }
    .slider{
      
        margin-left: 100px;
        height: 925px;
        margin-top: 200px;
        width: 890px;
    }
    .manual-navigation{
        display: none;
    }
    .navigation-auto div{
        display: none;
    }
    
    .slide img{
        width: 500px;
    }
    #coffee_container{
        grid-template-columns: 1fr;
        width: 600px;
        margin-top: 110px;
        
    }
    .mug_text{
        height: 200vh; 
        width: 77em;
        padding-left: 50px;
        padding-top: 50px;
        margin-left: 13em;
    }
    

    #title_mug{
        font-size: 90px;
    }
    #subtitle_mug{
        font-size: 57px;
    }
   
    .mug img{ 
        margin-top: 300px;
        width: 1060px; 
    }
    .fa-facebook{
      font-size: 150px;
    }
    .fa-instagram{
        font-size: 150px;
    }
    .title_social-media{
        font-size: 90px;
        width: 10em;
    }
    .social-icons{
       
       padding-top: 30px;
       
       width: 90vh;
     }
     
     
  
     
     
     footer{
        margin-top: 100px;
        width: 30em;
        font-size: 50px;
     }
     
    
     
    }




    @media (min-width:340px) and (max-width: 821px) and (orientation: landscape){
   
        #header{
            
            width: 80em;
            box-shadow: none;
        }
        #logo img{
            width: 300px;
        }
        #btn-contact{
            width: 310px;
            height: 100px;
            font-size: 30px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            }
        #title{
            width: 60em;
            height: 500px;
            font-weight: bold;
        }
        .title_banner{
            font-size: 90px;
        }
        .subtitle_banner{
            font-size: 50px;
        }
        #main{
            grid-template-columns:  1fr;
            box-shadow: none;
            width: 80em;
            
        }
        #banner img{
            margin-top: 600px;
            width: 700px;
            
        }
        #container{
            grid-template-columns: 1fr;
            width: 600px;
            
        }
        #notebook{
            height: 310vh;
            width: 77em;
            padding-left: 20px;
           margin-top: 30px;
           padding-top: 50px;
    
    
        }
        #title_notebook{
           
            font-size: 90px;
        }
        #subtitle_notebook{
            font-size: 57px;
        }
        .slider{
          
            margin-left: 100px;
            height: 925px;
            margin-top: 200px;
            width: 890px;
        }
        .manual-navigation{
            display: none;
        }
        .navigation-auto div{
            display: none;
        }
        
        .slide img{
            width: 500px;
        }
        #coffee_container{
            grid-template-columns: 1fr;
            width: 600px;
            margin-top: 110px;
            
        }
        .mug_text{
            height: 370vh; 
            width: 77em;
            padding-left: 50px;
            padding-top: 50px;
            margin-left: 13em;
        }
        
    
        #title_mug{
            font-size: 90px;
        }
        #subtitle_mug{
            font-size: 57px;
        }
       
        .mug img{ 
            margin-top: 300px;
            width: 1060px; 
        }
        .fa-facebook{
          font-size: 150px;
        }
        .fa-instagram{
            font-size: 150px;
        }
        .title_social-media{
            font-size: 90px;
            width: 10em;
        }
        .social-icons{
           
           padding-top: 30px;
           
           width: 90vh;
         }
      
         
         
         footer{
            margin-top: 100px;
            width: 30em;
            font-size: 50px;
         }
         
        
         
        }
    
    
    
    
    